<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Reddits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
    
      <ion-item *ngFor="let item of items">
        <ion-thumbnail *ngIf="item.data.thumbnail" slot="start">
           <ion-img src="{{item.data.thumbnail}}" alt=""></ion-img>
        </ion-thumbnail>
        <ion-label>
        <h2>{{item.data.title}}</h2>
        <p>
          <ion-icon name="thumbs-up"></ion-icon>{{item.data.score}} &nbsp;&nbsp;
          <ion-icon name="chatboxes"></ion-icon>{{item.data.num_comments}}
        </p>
        <ion-button clear item-right (click)="viewItem(item.data)">View</ion-button>
      </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
